@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgba(24, 25, 66, 1);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --background: rgba(24, 25, 66, 1);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-barlow);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
